/* COMMON */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    display: inline-block;
    color: gray;
}
/* CARD IMG */
.my_card{
    width: 100%;
}
.my_card .card-img{
    width: 100%;
    height: 200px;
}
.my_card .card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CARD TITLE */
.my_card h2{
    padding: 10px;
    font-weight: 600;
}

/* CARD CONTENT */

/* INFO */
.my_card .my_card-info{
    width: 100%;
    background-color: pink;
    color: gray;
    font-size: 18px;
}
.my_card  .my_card-info .circle{
    width: 1.2rem;
    height: 1.2rem;
    background-color: #00aa6c;
    border-radius: 50%;
    margin-right: 0.01rem;
    display: inline-block;
    vertical-align: middle;
}
.my_card .my_card-info .review{
    display: inline-block;
    vertical-align: middle;
}
.my_card .my_card-info a{
    text-decoration: dotted underline;
}
.my_card .my_card-info p{
    text-decoration: dotted underline;
    margin-bottom: 0.2rem;
}

/* PRICE */
.my_card .my_card-price{
    background-color: lightblue;
}
.my_card .my_card-price .old-price{
    text-decoration: line-through;
    color: red;
}
.my_card .my_card-price .price{
    font-size: 30px;
    font-weight: 600;
}
.my_card .my_card-price .site-link a{
    font-size: 18px;
}

/* CALL TO ACTION */
.my_card .my_card-call-to-action{
    background-color: lightgreen;
    text-align: right;
}
.my_card .call-to-action-btn{
    width: max-content;
    height: 50px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 20px;
}